<div>
    <div class = "container">
        <br>
        <div class = "row">
            <div class = "col col-2"></div>
            <div class = "col col-8 bg-transparent text-center">
                <h2>
                    Ingresar
                </h2>
            </div>
        </div>
        <div class = "row">
            <div class = "col col-2"></div>
            <div class = "col col-8">
            
                <form>
                    <div class="form-group">
                        <label for="nombreUsuario">Id usuario</label>
                        <input type="text" class="form-control" id="idUsuario" aria-describedby="Id del usuario" placeholder="Ingresar su identificador de usuario">
                        <small id="idHelp" class="form-text text-muted">Identificador del usuario.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary"  onclick = "validarIngreso()">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
